{% extends 'dashboard/_base.html' %}

{% block title %}Change password successful{% endblock %}


{% block content %}
<div class="w3-row">
	<div class=" w3-container w3-third w3-display-middle" style="margin-top: -10% !important;">
  <h3><a href="{% url 'password_change' %}">Change password</a></h3>
  <h4 class="">Success</span></h4>
  
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return to home page</a>
  </div>
  </div>
{% endblock %}