{% extends 'dashboard/_base.html' %}

{% block title %}Change password{% endblock %}


{% block content %}

  <div class="w3-row">
	<div class=" w3-container w3-third w3-display-middle" style="margin-top: -6% !important;">
	<h3 class="">Change password</h3>
	<style type="text/css">
		input{padding:8px;display:block;border:1px solid #ccc !important;width:100%;border-radius:4px;}
	</style>
      <form method="post" novalidate>
        {% csrf_token %}
        				{% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
  </div>
{% endblock %}