{% extends 'dashboard/_base.html' %}
{% block title %}Reset your Password{% endblock %}
{% block content %}
<div class="w3-row">
	<div class=" w3-container w3-third w3-display-middle" style="margin-top: -10% !important;">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Reset your Password</h3>
				<style type="text/css">input{padding:8px;display:block;border:1px solid #ccc;width:100%;border-radius:4px;}
				button{
					
					}</style>
				<p>Enter your email address and we will send you a link to reset your password.</p>
				<form method="post">
					{% csrf_token %}
					{% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
					<button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}